
@()

@main("Welcome to DenimCoat") {
  <h1>Welcome to DenimCoat!</h1>

  <p>Enter question</p>

  <textarea id="input" rows="5" cols="120"></textarea>

  <div>
    <input type="checkbox" name="reasoner" class="reasoners" value="avicenna"> Avicenna
    <input type="checkbox" name="reasoner" class="reasoners" value="deepThought"> Deep Thought
    <input type="checkbox" name="reasoner" class="reasoners" value="hal9000"> HAL 9000
  </div>

  <div>
    <button id="inputSubmitButton">Submit</button>
    <button id="inputExampleButton">Example</button>
    <button id="inputClearButton">Clear</button>
  </div>

  <p><table id="answersTable"></table></p>

  <p id="answersTree"></p>

  <p><textarea id="answersRaw" rows="50" cols="120"></textarea></p>

  <p>This page was loaded <span id="loadTime"></span>. Now it is <span id="nowTime"></span>.</p>

  <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
}
