body {
    background-color: indigo;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.treeBranch {
    margin-left: 2ex;
}

#cytoscape {
    width: 700px;
    height: 300px;
    display: block;
}
